<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventures</title> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
  <div class="navbar-item has-dropdown is-hoverable">
</div>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'homepage' %}">M & M</a></li>
    <li><a href="{% url 'self_care' %}">Resources</a></li>
    <li><a href="{% url 'health' %}">Self Care</a></li>
    <li><a href="{% url 'opportunites' %}">Opportunites</a></li>
    <li><a href="{% url 'adventures' %}">Health</a></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>

  
  <h1>Adventures</h1>
  </body>
  
 