{% extends 'base.html' %}

{% block title %}{% endblock title %}
  {% block content %}
<body>
  <div class="container">
    <header>
      <h2>2020 Mood Calendar</h2>
      <p>keep track of your mood</p>
      <div class="mood-selector">
        Select mood:
        <div id="selector">
          <i id="mood" style="font-size:30px">&#128512;</i>
          <i id="mood" style="font-size:30px">&#128546;</i>
          <i id="mood" style="font-size:30px">&#128580;</i>
          <i id="mood" style="font-size:30px">&#128528;</i>
          <i id="mood" style="font-size:30px">&#128529;</i>
          <i id="mood" style="font-size:30px">&#128530;</i>  
          <i id="mood" style="font-size:30px">&#128545;</i>    
        </div>
      </div>  
    </header>
    <main id="main">
      
    </main>
    

    

    <div class="calendar-main">

    </div>


  </div>
  
  
</body>
</html>

  {% comment %} <div class="auto-jsCalendar"></div>
  <!-- Clean yellow theme -->
<div class="auto-jsCalendar clean-theme yellow"></div>
<body>
  <div class="container">
    <header>
      <h2>2020 Mood Calendar</h2>
      <p>Keep track of your mood</p>
      <div class="mood-selector">
        Select mood:
        <div id="selector">
            <p>smiling</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128512;</p>
              <hr>
              <p>crying</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128546;</p>
              <hr>
              <p>annoyed</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128580;</p>
              <hr>
              <p>neutral</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128528;</p>
              <hr>
              <p>expressionless</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128529;</p>
              <hr>
              <p>unamused</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128530;</p>
              <hr>
              <p>angry</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128545;</p> {% endcomment %}

{% endblock %}