{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
  {% block scripts %}
  <script defer src="{% static 'js/main.js' %}"></script>
  <script src="https://rawgit.com/theraot/emoji/master/emoji.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  
  {% endblock %}
{% block content %}
<section class="hero is-info is-medium">
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item"></a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              <i class="fa fa-home"></i>
              Home
            </a>
                
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Moods and Motivation
      </p>
      <p class="subtitle">
        You Matter!
      </p>
      <img style="-webkit-user-select: none;margin: auto;" src="https://www.sanvello.com/img/mood-chars.png">
    </div>
  </div>
  <div id="truthButton">
  <div class="elfsight-app-3c53c8c0-0cd9-4487-a11b-6f02a24e1e37"></div>
  <div class="elfsight-app-e54ab9ee-3d35-4ff3-b2e7-5785621c171c"></div>
  </div>
  
                </g>
            </svg>
        </span>
    </label>
</div></div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <nav><a href="{% url 'homepage' %}">M & M</a>
          </li>
          <li>
           <nav><a href="{% url 'self_care' %}">Self Care/Health </a></nav>
          </li>
          <li>
            <nav><a href="{% url 'resources' %}">Resources</a></nav>
          </li>
          <li>
            <nav><a href="{% url 'calendar' %}">Calendar</a></nav>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
    
  <section class="section">
    <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Hello Jen!</p>
          
          
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Featured Job Listings</p>
          <a href="https://peopleofcolorintech.com/"target="_blank">People of Color in Tech</a>
          <img src="static/images/joblisting.png"  width="150" height="150" alt="Joblisting"></p>
          <a href="https://www.womensjoblist.com/?gclid=EAIaIQobChMI4uyYoN2i6wIVQ4taBR0A5QdGEAAYAiAAEgIVrPD_BwE/"target="_blank">Womens Job List</a>
          <a href="https://diversity.social/diversity-inclusion-job-boards/"target="_blank">Diversity.Social</a>
          <a href="https://workology.com/18-job-boards-perfect-for-diversity-recruiting-compliance-efforts/"target="_blank">Workology</a>
          <a href="https://www.lgbtcenters.org/Careers//"target="_blank">LGBT Centers</a>
          <a href="https://lgbtfunders.org/jobs/"target="_blank">LGBT Funders</a>
          <a href="https://www.nyse.com/boardadvisory/about-the-council?gclid=EAIaIQobChMIpJq2v92i6wIVBm-GCh3UVg12EAAYASAAEgJisPD_BwE/"target="_blank">NYSE</a>
          <a href="https://employdiversity.com//"target="_blank">Employ Diversity</a>
          
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Featured Self Care</p>
          <a href="https://www.self.com/story/art-therapy-exercises/"target="_blank">5 Art Therapy Exercises to Add to Your Self-Care Rountine</a>
          <img src="static/images/featureself.png" alt="Featured Self Care"></p>
          <a href="https://www.self.com/story/art-therapy-exercises/"target="_blank">5 Art Therapy Exercises to Add to Your Self-Care Rountine</a>
          
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <button class="button is-warning is-hovered"
        <p class="title"><nav><a href="{% url 'resources' %}">Reach Out Resources</p></button></a>
        <p><a href="https://adaa.org/finding-help/blackcommunitymentalhealth/"target="_blank">Anixety & Depression Association of America</a><p>
          <img src="static/images/anxiety.jpeg" width="300" height="230" alt="Anxiety"></p>
          <a href="https://idontmind.com/journal/12-therapy-and-wellness-resources-for-black-mental-health/"target="_blank">I DontMind</a>
          <div class="content">
            <img src="static/images/idontmind.png" width="300" height="230" alt="IDontMind"></p>
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <a href="{% url 'self_care' %}">
        <p class="title">Motivation!</p></a></a>
        <a href="https://www.dailyinspirationalquotes.in/"target="_blank"><p class="subtitle1">"Every morning you have two chioces, continue to sleep with your dreams, or wake up and chase them." -Carmelo Anthony</p></a>
        
        <div class="content">
          <img src="static/images/motivation.png" width="200" height="230" alt="Motivation"></p>
          <a href="https://thedailyquotes.com/quote-of-the-day/"target="_blank"><p class="subtitle1">"Magic is really very simple, all you've got to do is want something and then let yourself have it." -Marnie Piper</p></a>
          <img src="static/images/magic.jpeg" width="300" height="230" alt="Magic"></p>
        </div>
      </div>
    </article>
  </div>
</div>
  </section>
  {% endblock %}