{% extends 'base.html' %}

{% block title %}{% endblock title %}
  {% block content %}
<section class="hero is-info is-medium">
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item">
						<img src="https://www.canva.com/design/DAEDkgCU4oU/JkC6y8RbWifCBnt2XG3EWA/view?utm_content=DAEDkgCU4oU&utm_campaign=designshare&utm_medium=link&utm_source=viewer"="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              <i class="fa fa-home"></i>
              Home
            </a>
            <a class="navbar-item">Profile
            
            <!-- </a>
            <a class="navbar-item">
              Documentation
            </a> -->
            <!-- <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon">
                <i class="fas fa-home"></i>
            </span>
                <span>Download</span> -->
                
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Moods and Motivation
      </p>
      <p class="subtitle">
        You Matter!
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <nav><a href="{% url 'homepage' %}">M & M</a>
          </li>
          <li>
           <nav><a href="{% url 'self_care' %}">Self Care </a></nav>
          </li>
          <li>
            <nav><a href="{% url 'resources' %}">Resources</a></nav>
          </li>
          <li>
            <nav><a href="{% url 'health' %}">Health</a></nav>
          </li>
          <li>
            <nav><a href="{% url 'opportunites' %}">Opportunites</a></nav>
          </li>
          <li>
            <nav><a href="{% url 'adventures' %}">Adventures</a></nav>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
    
  <section class="section">
    <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <nav><a href="{% url 'calendar' %}"><p class="title">My Week!</p></a></nav>
          <p>Date: <input type="text" id="datepicker"></p>
          {% comment %} <nav><a href="{% url 'calendar' %}"<p class="subtitle">August 9-15</p></nav> {% endcomment %}
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Sleep</p>
          <nav><a href="{% url 'progress_bar2' %}"><p class="subtitle">Sleep Chart</p></nav>
          <figure class="M & M">
            <label class="checkbox">
              
              <form>
              {% for sleep in sleeps %}
              <p>{{sleep.name}}</p>
              <input type="checkbox">
              <p style="font-size:30px">{{sleep.smile_emoji}}</p>
              <hr>
              {% endfor %} 
              <button class="button is-success is-rounded">Submit</button>
              </form>
              <!-- enter each sleep as a Sleep object in the database and the code will loop over them -->
              <!-- From here, you can use the info in the checkboxes to create SleepTracker objects with JavaScript -->
              <!-- <p>Sleepy</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128554;</p>
              <hr>
              <p>Tired</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128555;</p>
              <hr>
              <p>Rest Less</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128580;</p>
              <hr>
              <p>Good Sleep</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128524;</p>
              <hr>
              <p>Great Sleep</p>
              <input type="checkbox">
              <p style="font-size:30px">&#129321;</p> -->
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Moods</p>
          <nav><a href="{% url 'progress_bar' %}"><p class="subtitle">Mood Tracker</p></a></nav>
          <figure class="M & M">
            <label class="checkbox">
              <form id='mood_tracker' method='POST'>
              {% csrf_token %}
               {% for mood in moods %}
               <div id="{{mood.pk}}">
              <p>{{mood.name}}</p>
              <input type="checkbox">
              <p style="font-size:30px">{{mood.smile_emoji}}</p>
              </div>
              <hr>
              {% endfor %} 
              <button class="button is-success is-rounded">Submit</button>
              </form>
              <!-- Same thing here that we did with sleep -->
               
              <!-- <p>smiling</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128512;</p>
              <hr>
              <p>crying</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128546;</p>
              <hr>
              <p>annoyed</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128580;</p>
              <hr>
              <p>neutral</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128528;</p>
              <hr>
              <p>expressionless</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128529;</p>
              <hr>
              <p>unamused</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128530;</p>

              <p>angry</p>
              <input type="checkbox">
              <p style="font-size:30px">&#128545;</p>
             -->
  <!-- <ul>
  <input type="checkbox">
<span class="icon">
<i class="far fa-smile"></i>
</ul>

<ul>
  <input type="checkbox">
<span class="icon">
<i class="far fa-frown"></i>
</ul>

<ul>
<input type="checkbox">
<span class="icon">
<i class="far fa-meh"></i>
</ul>

<ul>
<input type="checkbox">
<span class="icon">
<i class="far fa-sa-tear"></i>
</ul>
</span>
</label> -->

            <!-- <img src="https://cdn2.vectorstock.com/i/thumb-large/20/96/african-american-woman-face-profile-beauty-sign-vector-1352096.jpg"> -->
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <button class="button is-warning is-hovered"
        <p class="title"><nav><a href="{% url 'resources' %}">Reach Out Resources</p></button></a>
        <p class="subtitle">List of Resources and Contacts</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <a href="{% url 'self_care' %}">
    <a href="{% url 'health' %}">
        <p class="title">Motivation!</p></a></a>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
  </section>
  {% endblock %}