{% extends "base.html" %}

{% block content %}
<!-- <body style="background-color: #D7FDEC;"> -->
<!-- <body style="background: rgb(215,253,236);
background: radial-gradient(circle, rgba(215,253,236,1) 0%, rgba(178,228,219,1) 100%);"> -->
<div class="container">
  <h1>Mood Tracker</h1>

  
  <a href="{% url 'add_moods' %}">Add Mood</a>
  


  <div class="original">
  
    {% for mood in moods %}
    <div class="w-33 pa3">
      <img src = '{{ mood.image_url }}' height='250' width= '250' >
      <!-- <h3>{{ mood.mood_tracker }}</h3>
      <h3>{{ mood.sleep_tracker }}</h3>
      <h3>{{ mood.affirmations }}</h3>
      <h3>{{mood.self_care }}</h3>
      <h3>{{mood.emergency_contact }}</h3> -->
      <a class="blue" href="{% url 'mood_tracker' pk=mood.pk %}">Mood Tracker</a><br> 
    <a class="blue" href="{% url 'profile' pk=mood.pk %}">Profile</a>
    </div>

    
    {% endfor %}
  </div>
  
</div>

{% endblock %}
