<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Resources</title> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> 
  </head>
  <body>
  <div class="navbar-item has-dropdown is-hoverable">
</div>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'homepage' %}">M & M</a></li>
    <li><a href="{% url 'self_care' %}">Self Care</a></li>
    <li><a href="{% url 'health' %}">Health</a></li>
    <li><a href="{% url 'opportunites' %}">Opportunites</a></li>
    <li><a href="{% url 'adventures' %}">Adventures</a></li>
    
  </ul>
</nav>
</body>

  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Resources
      </h1>
      <h2 class="subtitle">
      Professional Services for POC & LBGTQ+ Communities 
      </h2>
    <li><a href="https://www.nqttcn.com/featured-practitioners/"target="_blank">National Queer & Trans Therapists of Color Network</a></li>
    <li><a href="https://therapyforblackgirls.com/"target="_blank">Therapy for Black Girls</a></li>
    <li><a href="https://www.therapyforlatinx.com/"target="_blank">Threapy for Latinx</a></li>
    <li><a href="https://therapyforqpoc.com/"target="_blank">Therapy for Queer People</a></li>
    <li><a href="https://www.justdavia.com/blog/directories-for-therapists-of-color/"target="_blank">Just Davia</a></li>
    <li><a href="https://afropunk.com/2017/11/find-therapist-queertrans-poc//"target="_blank">Afro Punk (different links)</a></li>
    <li><a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=online+therapist+app_b&utm_content=25260110050&network=g&placement=&target=&matchtype=b&utm_campaign=371722090&ad_type=text&adposition=&gclid=Cj0KCQjwjer4BRCZARIsABK4QeUp-CEyisYG6GRP0tEO0eH3IxiexcLEuT08sHOjdrbn8wyhFfqFdxkaAiRkEALw_wcB&not_found=1&gor=helpme/"target="_blank">BetterHelp<a/></li>
    <li><a href="https://www.beam.community/bvtn/"target="_blank">Black Emotional & Mental Health</a></li>
    <li><a href="https://www.teenvogue.com/story/mental-health-resources-for-disabled-people-poc-lgbtq/"target="_blank">Teen Vogue (different links)</a></li>
    <li><a href="https://hypebae.com/2020/6/mental-health-resources-poc-black-minorities-community-racism-george-floyd/"target="_blank">Hypebae</a></li>
    <li><a href="https://www.adolescenthealth.org/Resources/Clinical-Care-Resources/Mental-Health/Mental-Health-Resources-For-Adolesc.aspx/"target="_blank">Society for Adolscent Health & Medicine</a></li>
    <li><a href="https://therapyforblackmen.org/"target="_blank">Therapy for Black Men</a></li>
    <li><a href="https://www.activeminds.org/blog/supporting-black-mens-mental-health//"target="_blank">Active Minds</a></li>
    <li><a href="https://www.cabwhp.org/resources.html/"target="_blank">Calfornia Black Women's Health Project</a></li>
    <li><a href="https://theeverygirl.com/online-mental-health-resources-for-black-women//"target="_blank">The Every Girl</a></li>
    <li><a href="https://afsp.org/minority-mental-health-resources/"target="_blank">American Foundation for Suicide Prevention</a></li>
    <h2 class="subtitle">
      Low Cost Therapist 
      </h2>
    <li><a href="https://www.instyle.com/beauty/health-fitness/inclusive-affordable-therapy/"target="_blank">InStyle (diffrent links)</a></li>
    <li><a href="https://openpathcollective.org/"target="_blank">Open Path Collective</a></li>
    <li><a href="https://www.fastcompany.com/90440201/this-app-matches-marginalized-communities-to-therapists-who-share-their-background/"target="_blank">Fast Company (app)</a></li>
    <li><a href="https://supermaker.com/articles/mental-health-apps-people-of-color-queer-community/"target="_blank">Supermaker (app)</a></li>
    <li><a href="https://lp.talkspace.com/try/online-therapy?utm_source=google&utm_medium=semnb&utm_campaign=Search_Google_NB_Core_US_Desktop_Exact&utm_content=FEB2020-40P-V7&utm_term=affordable%20mental%20health%20therapy&gclid=Cj0KCQjwjer4BRCZARIsABK4QeV2hPsaU7uqK8Isb5t9RWbCPQBiyQwZNmw3TgxLaJOsFqlzGPIKPTEaAg4_EALw_wcB/"target="_blank">TalkSpace</a></li>
    <li><a href="https://rethinkmytherapy.com/?campaignid=9300688460&adgroupid=92436064045&adid=417419192800&gclid=Cj0KCQjwjer4BRCZARIsABK4QeW36Rh-EocXlS-SSqb6Vl6zOfV1u9fInPOfkQ5nFJX-a9kAdOH-tGQaAsNlEALw_wcB/"target="_blank">Rethink My Therapy</a></li>
    <li><a href="https://psychologyclinic.gsu.edu/"target="_blank">Psychology Clinic (Georgia State University)</a></li>
    <li><a href="https://adaa.org/finding-help/treatment/low-cost-treatment/"target="_blank">Anxiety & Depression Association of America</a></li>
    <li><a href="https://www.thepennyhoarder.com/save-money/low-cost-and-free-mental-health-services/"target="_blank">The Penny Hoarder</a></li>
    <li><a href="https://www.ambetterhealth.com//"target="_blank">Ambetter Health</a></li>
    