<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self Care</title> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
	</script>
  </head>
  <body>
    <div class="navbar-item has-dropdown is-hoverable">
</div>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'homepage' %}">M & M</a></li>
    <li><a href="{% url 'resources' %}">Resources</a></li>
    <li><a href="{% url 'calendar' %}">Calendar</a></li>
    
  </ul>
</nav>
</body>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Self Care
      </h1>
      <h2 class="subtitle">
        What is Self Care?
      </h2>
      <p>
Self-Care is what people do for themselves to establish and maintain health, and to prevent and deal with illness. It is a broad concept encompassing hygiene (general and personal), nutrition (type and quality of food eaten), lifestyle (sporting activities, leisure etc), environmental factors (living conditions, social habits, etc.) socio-economic factors (income level, cultural beliefs, etc.) and self-medication.</p>
    <hr>
    <h2 class="title">
    How to engage in Self Care
    <h2 class="subtitle">
    <li>Take a bath</li>
    <li>Practice an old hobby</li>
    <li>Make your favorite dinner/dessert</li>
    <li>Binge read and watch your favorite TV show/movie</li>
    <li>Dress up</li>
    <li>Learn a new skill</li>
    <li>Sap day</li>
    <li>Clean your house, car, workspace, etc.</li>
    <li>Plan a vacation</li>
    <li>Go shopping</li>
    <li>Talk to yourself</li>
    <li>Get a pet</li>
    <li>Dance</li>
    <li>Listen to podcast</li>
    <li>Get in your car and drive</li>
    <li>And if all else fails, you can do nothing</li>
    </h2>
    </li>
    </p>
    </div>
  </div>
</section>
  