body {
  background:#ebebeb;
  text-align:center;
  font-family: Helvetica,Arial,sans-serif;
}
h1 {
  font-size:32px;
  font-weight:100;
  margin-bottom:16px;
  margin:20px 0 40px;
}
h2 {
  font-size:14px;
  font-weight:100;
  margin-bottom:8px;
  margin-top:5px;
}
h3 { font-size:21px; }
.container { 
  max-width:900px;
  margin:0 auto;
  text-align:left;
  padding:0 20px;
}
.row { clear:both; }
.row:after {
  content:' ';
  display:block;
  clear:both;
}
.col-2 aside {
  width:20%;
  float:left;
  
}
.col-2 article {
  width:80%;
  float:left;
}

.row1 { clear:both; }
.row1:after {
  content:' ';
  display:block;
  clear:both;
}
.col-3 aside {
  width:20%;
  float:left;
}
.col-3 article {
  width:80%;
  float:left;
}



.eventKey div {
  display:inline-block;
  padding:4px;
  margin:4px 4px 4px 0;
  float:left;
  clear:both;
}
.monthYear { margin:0px 0 10px 0; padding:0 0 0 8px;}
.monthYear span { display:none; }
.days li {
  color:#333;
  border-bottom:1px solid #ccc;
  padding:4px 4px 4px 8px;
  text-transform:uppercase;
  font-size:13px;
}
.days li, .dates li {
  float:left;
  width:14.28%;
  position:relative;
  box-sizing:border-box;
}
.dates {
  border-right:1px solid #ccc;
}
.dates:after, .days:after {
  content:'';
  display:block;
  clear:both;
}
.dates li {
  border:1px solid #ccc;
  border-width:0 0 1px 1px;
  height:90px;
  margin:0;
  background:#fff;
}
.dateWrapper {
  max-height:90px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  transition: max-height 1s;
}
.dateWrapper.open {
  max-height:600px;
  z-index:10;
  padding-bottom:25px;
  background:#fff;
  border-bottom:1px solid #ccc;
  box-shadow:0 0 10px #333;
}
.dates li.fade {
  color:#ccc;
  opacity:0.6;
}
.date, .dates li a {
  display:block;
  padding:4px;
  text-align:right;
  font-size:13px;
}
.dates li a, .eventKey div {
  text-align:left;
  text-decoration:none;
  font-size: 12px;
  color:#fff;
  border-radius:2px;
}
.dates li a, .dates li div {
  margin:4px 2px 0;
}
.dates li a.expand {
  display:block;
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 26%,rgba(0,0,0,0.50) 100%);
  position:absolute;
  bottom:0px;
  left:0;
  width:100%;
  text-align:left;
  padding:4px 0 0 0;
  margin:0;
  border-radius:0;
}
.dates li a.expand.open {
  
}
.dates li a.expand span {
  display:inline-block;
  float:right;
  padding:4px 8px;
  transition: transform 1s ease-in-out;
  
}
.dates li a.expand.open span {
	transform: rotate(45deg);
  color:#333;
}

.dates li a b {
  font-weight:bold;
}
.multidayHolder {
  position:relative;
  height:20px;
  padding:0;
  margin:4px 0 0 0;
}
.dates li a.multidayEvent {
  position: absolute; 
  top:0;
  left:0;
  z-index:100;
  display:none;
  margin:0;
}
.multidayEvent span, .holiday span  { display:none;}
.dates li a.length-2 {width:196%; display:block; }
.dates li a.length-3 {width:301%; display:block;}
.smiling, .smiling:before { background:#87e842; color:#fff;}
.crying, .crying:before { background:#446683; color:#fff;}
.annoyed, .annoyed:before { background:#d8660e; color:#fff;}
.neutral, .neutral:before { background:#9ba29c; color:#fff;}
.expressionless, .expressionless:before { background:#e4f805; color:#fff;}
.unamused, .unamused:before { background:#0572f8; color:#fff;}
.angry, .angry:before { background:#f80532; color:#fff;}
.sleepy, .sleepy:before { background:#1805e6; color:#fff;}
.tired, .tired:before { background:#4a262c; color:#fff;}
.restless, .restless:before { background:#aba805; color:#fff;}
.goodSleep, .goodSleep:before { background:#efff41; color:#fff;}
.greatSleep, .greatSleep:before { background:#05f8a3; color:#fff;}
.calendarNav {
  display:none;
}
@media (max-width: 744px) { 
  body {
    background:#fff;
  }
	.col-2 aside, .col-2 article {
    width:100%;
    float:none;
    clear:both;
  }
	.eventKey div {
    clear:none;
  }
  .monthYear { 
    padding:20px 0 20px 23px; 
    margin:0;
    border-bottom:1px solid #ccc;
  }
	.monthYear span { display:inline; }
	.days, .dates li, .dates li a.expand { display:none; }
  .dates li.current, .dates li a.multidayEvent, .calendarNav {
   display:block;
   position:static;
   width:auto;
  }
  .multidayHolder {
    height:auto;
  }
  .dates {border:none;}
  .dates li.current {
    width:100%;
    height:auto;
    border:none;
    position: relative;
    display:block;
  }
  .dateWrapper { width:100%; height:auto; position:static; max-height:1000px;}
  .date {
    text-align:left;
    position:absolute;
    top:-46px;
    left:0px;
    font-size:21px;
  }
  .multidayEvent span, .holiday span  {
    position:static;
    margin-top:4px;
    color:#999;
   display:block;
   text-align:left;
  }
  .dates li a {
    background:none;
    color:#333;
    position:relative;
    font-size:14px;
    padding:25px 0 25px 35px;
    margin:5px 0;
    border-bottom:1px solid #ccc;
    min-height:45px;
  }
  .dates li a:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    position: absolute;
    top: 30%;
    left: 0;
  }
  .dates li a:after  {
    content: '';
    display:block;
    position: absolute;
    top:42%;
    right:20px;
    border:1px solid #ccc;
    border-width:1px 1px 0 0;
    width:15px;
    height:15px;
    transform: rotate(45deg);
  }
  .dates li a b { display:block; margin-bottom:4px; }
  .calendarNav {
    padding:20px 0;
    text-align:center;
  }
  .calendarNav a {
  	clear:both;
    display:inline-block;
    color:#333;
    text-decoration:none;
    padding:6px 10px;
    border-radius:4px;
    background:#d6d6d6;
    border:1px solid #999;
    border-width:0 1px 1px 0;
    margin-right:6px;
    font-size:14px;
  }
  
}