.eapps-form-actions-button-loader-inner {
    animation: eapps-form-loader-2 1.2s linear infinite;
}

.eapps-form-actions-button-loader-inner, .eapps-form-actions-button-loader-inner:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    content: "";
    transform-origin: center center;
    clip: rect(0, 28px, 28px, 14px);
}
