:root {
    --defaultColor: #bbb;
    --moodColor: #bbb;
  }
  header {
    text-align: center;
  }
  ul {list-style-type: none;}
  .mood-selector {
    margin-bottom: 10px;
  }
  #month {
    font-size: 1.8rem;
    
  }
  .column {
    max-width: 200px;
    margin: 10px 0;
  }
  li {
    margin-bottom: 0;
  }
  .weekdays {
    width: 100%;
    margin: 0;
    padding: 2px 0;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
  }
  
  .weekdays li {
    display: inline-block;
    width: 11%;
    text-align: center;
  }
  .days {
    width: 100%;
    padding: 2px 0;  
    margin: 0;
  }
  